<template>
  <div>
    <h3 class="alerts-header">Alerts from {{ fileName }}</h3>
    <pre class="json-alerts" data-cy="alert-messages">{{ alerts }}</pre>
  </div>
</template>

<script lang="ts">
import { alertMessage } from "@/services/MessageHandling/MessageHandling.models";
import { Component, Prop, Vue } from "vue-property-decorator";
import { MessageHandlingService } from "../services/MessageHandling/MessageHandling.service";

@Component
export default class AlertMessages extends Vue {
  @Prop() messagesText!: string;
  @Prop() fileName!: string;

  private messages = new MessageHandlingService();

  get alerts(): alertMessage[] {
    const messages = this.messages.getMessagesFromText(this.messagesText);
    const violations = this.messages.getViolations(messages);
    return this.messages.getAlertMessages(violations);
  }
}
</script>

<style scoped>
.alerts-header {
  color: #333;
  text-transform: uppercase;
}
.json-alerts {
  box-shadow: 2px 3px 5px rgb(0 0 0 / 20%);
  margin: auto;
  max-width: 330px;
  padding: 1rem;
  text-align: left;
}
</style>