<template>
  <div class="file-reader">
    <label class="text-reader">
      <input data-cy="file-input" type="file" @change="getTextFromFile" />
      Upload File
    </label>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { FileReaderService } from '../services/FileReader.service'

@Component
export default class FileReader extends Vue {

    private fileReader = new FileReaderService();

    public getTextFromFile({ target }: { target: HTMLInputElement }): void {
        if (!target.files) return;

        const file = target.files[0];
        this.fileReader.getTextFromFile(file).then(result => {
            this.$emit('loaded', file.name, result);
        })
    }
}
</script>

<style scoped>
.text-reader input {
  display: none;
}

.text-reader {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.text-reader:active {
  background-color: #aaa;
  border-color: #333;
}

.text-reader:hover {
  background-color: #ccc;
}
</style>