<template>
  <div id="app">
    <file-reader class="file-reader" @loaded="processData" />
    <alert-messages 
      :messages-text="messagesText" 
      :file-name="fileName"
      v-if="messagesText" 
    />
    <div v-else>Please select a file to proceed</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FileReader from './components/FileReader.vue';
import AlertMessages from './components/AlertMessages.vue';

@Component({
  components: {
    AlertMessages,
    FileReader,
  },
})
export default class App extends Vue {
  public messagesText = '';
  public fileName = '';

  public processData(fileName: string, text: string): void {
    this.fileName = fileName;
    this.messagesText = text;
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.file-reader {
  margin-bottom: 3rem;
}
</style>
